<html>
  <head>
    <title>Blinking Images</title>
    <!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}"> -->
    <!-- <link rel= "stylesheet" href= "../static/styles/styles.css"> -->
    
  </head>
  <body>
    <!-- <div class="main-container">
      <div class="containner-l">
        <h1>Pi Video Surveillance</h1>
        <img src="{{ url_for('video_feed') }}">
      </div>
      <div class="containner-r">
        <div class="fixed">
          <h1>Configuration</h1>
          <form action="{{ url_for('send') }}" method="POST" name="valuesform" class="values-form"></form>
        </div>
      </div>
    </div> -->
    <!-- <script src="{{ url_for('static', filename='scriptt.js') }}"></script> -->
    <script src="/static/images.js"></script>
  </body>
</html>